{
  "ConnectionStrings": {
    "DefaultConnection": "Host=postgres;Port=5432;Database=fizzy;Username=fizzy;Password=replace-with-postgres_password.txt-contents"
  },
  "RabbitMq": {
    "UserDelete": {
      "UserName": "fizzy",
      "Password": "replace-with-rabbitmq_password.txt-contents"
    }
  }
}
