BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:4000"

DATABASE_URL="postgresql://fizzy:replace-with-postgres_password.txt-contents@postgres:5432/fizzy?schema=auth"

RESEND_SECRET_KEY=""

RABBITMQ_URL="amqp://fizzy:replace-with-rabbitmq_password.txt-contents@rabbitmq:5672"
RABBITMQ_AUTH_EVENTS_EXCHANGE="auth_events"
